@media screen and (max-width: 427px) {
    .services {
        display: none;
    }

    .mob-contact-tel {
        font-size: 28px;
        line-height: 1.4;
    }

    .hero-title {
        font-size: 32px;
        line-height: 1.25;
    }

    .mob-contact-tel {
        font-size: 26px;
        font-weight: 600;
        line-height: 1.5;
    }

}

@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }

    .services {
        display: none;
    }

    .mob-social-list {
        justify-content: center;
        gap: 56px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .narrow > .container {
        max-width: 582px;
    }

    .button-hamburger, .mob-menu {
        display: none;
    }

    .header-logo {
        margin-right: 120px;
    }

    .current {
        color: var(--pressedstate);
        position: relative;
    }
    
    .header-menu .current {
        color: var(--pressedstate);
    }
    
    .current::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        bottom: -1px;
        left: 0;
        background-color: var(--pressedstate);
    }
    
    .header-menu {
        display: flex;
        gap: 40px;
    }
    
    
    .header-menu-link {
        display: block;
        padding: 24px 0;
        color: var(--dark);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-menu-link:hover,
    .header-menu-link:focus {
        color: var(--pressedstate);
    }
    
    .header-adress {
        display: flex;
        align-items: center;
        font-style: normal;
    }
    
    .header-contact {
        display: block;
        gap: 12px;
        margin-left: auto;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-contact-link {
        color: var(--text);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-contact-link:hover,
    .header-contact-link:focus {
        color: var(--pressedstate);
    }
    

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), url(../images/hero-tablet-background.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), url(../images/hero-background-talet2x.jpg);
    }
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }

    .advantages-list {
        gap: 72px 24px;
    }

    .advantages-item {
        width: calc((100% - 24px) /2)
    }

    .advantages-subtitle {
        text-align: start;
    }

    .services {
        display: none;
    }

    .team-ul {
        row-gap: 64px;
        column-gap: 24px;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }

    .customers-list {
        gap: 72px 24px;
    }

    .customers-item {
        flex-basis: calc((100% - 48px) / 3);
    }

    .footer-conteiner {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }

    .footer-conteiner-web {
        align-items: start;
        margin-right: 24px;
    }

    .footer-social-conteiner {
        align-items: start;
    }


    .footer-form {
        display: flex;
        justify-content: flex-end;
        gap: 24px;
    }

    .footer-title-sub {
        text-align: left;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer-input {
        width: 264px;
    }

    .button {
        padding-top: 64px;
        padding-bottom: 96px;
    }

    .portfolio-button-list {
        gap: 24px;
        justify-content: center;
        margin-bottom: 72px;
    }

    .project-list {
        gap: 72px 24px;
        justify-content: left;
    }

    .project-card-list {
        width: calc((100% - 24px) / 2);
    }

}

@media screen and (min-width: 1158px) {
    .container, .narrow > .container {
        max-width: 1158px;
    }

/* ------------------ HEDER ----------------- */

    .header-logo {
        margin-right: 76px;
    }

    .header-contact {
        display: flex;
        gap: 40px;
    }

/* ------------------ HERO ------------------ */

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        padding: 188px 0;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), url(../images/hero-background-desktop2x.jpg);
    }
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 72px;
    }

/* ---------------- ADVANTAGES --------------- */

    .advantages {
        padding: 120px 0;
    }

    .advantages-list {
        gap: 24px;
    }

    .advantages-item {
        width: calc((100% - 24px*3) /4);
    }

    .container-advanteges-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .advantages-subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

/* ---------------- SERVICES --------------- */

    .services {
    padding-bottom: 120px;
    display: block;
    }

    .services-title {
        color:  var(--dark);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
    }

    .services-list {
        display: flex;
        gap: 24px;
    }

    .services-item {
        width: calc((100% - 48px) / 3);
    }

    .team {
        padding: 120px 0;
    }

    .team-ul {
        margin: 0 auto;
        row-gap: 24px;
    }

    .team-item {
        width: calc((100% - 3*24px) / 4);
    }

/* ---------------- CUSTOMERS --------------- */

    .customers-section {
        padding: 120px 0;
    }

    .customers-list {
        gap: 24px;
    }

    .customers-item {
        flex-basis: calc((100% - 24px * 5) / 6);
    }

/* ---------------- FOOTER --------------- */

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-conteiner {
        display: flex;
        align-items: baseline;
    }

    .footer-conteiner-web {
        margin-right: 120px;
    }

    .footer-social-conteiner {
        margin-right: 80px;
    }

/* ---------------- PROJECT --------------- */

    .project-list {
        gap: 48px 24px;
        justify-content: center;
    }

    .project-card-list {
        width: calc((100% - 48px) / 3);
    }

}